@import "bootstrap-sprockets";
@import "bootstrap";

// ログインページ
.form_h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.label-login {
  margin-top: 5px;
}

.btn-login {
  margin-top: 10px;
}