@import "bootstrap-sprockets";
@import "bootstrap";

// 共通
.form_h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

// ユーザー新規登録ページ
.user-table {
  vertical-align: middle;
  text-align: center;
}

.label-user--create {
  margin-top: 5px;
}

.btn-user--create {
  margin-top: 10px;
}

//  アカウント情報の更新ページ
.user-table {
  vertical-align: middle;
  text-align: center;
}

.label-user--update {
  margin-top: 5px;
}

.btn-user--update {
  margin-top: 10px;
}


/* error_messages*/
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}