@import "bootstrap-sprockets";
@import "bootstrap";

// 共通
.title_h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

// ユーザー新規登録ページ
.user-table {
  vertical-align: middle;
  text-align: center;
}

.label-user--create {
  margin-top: 5px;
}

.btn-user--create {
  margin-top: 10px;
}

//  アカウント情報の更新ページ
.user-table {
  vertical-align: middle;
  text-align: center;
}

.label-user--update {
  margin-top: 5px;
}

.btn-user--update {
  margin-top: 10px;
}

// ユーザー一覧
#table-users {
  td {
    vertical-align: middle;
  }
}

// 勤怠表示ページ
#table-attendances { 
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

//基本情報編集ページ


.label-basic_info {
  margin-top: 5px;
}

.btn-basic_info {
  margin-top: 15px;
}

/* error_messages*/
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}